body {
    background: #394648;
    color: white;
    /*overflow: hidden;*/
}

.chart-container {
    position: relative;
    margin: auto;
    height: 90vh;
    width: 90%;
    padding: 15px;
}

.leftColumn
{
    height:100vh;
    overflow-y: scroll;
}

.leftColumn::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.);
	border-radius: 10px;
	background-color: #394648;
}

.leftColumn::-webkit-scrollbar
{
	width: 12px;
	background-color: #394648;
}

.leftColumn::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.);
	background-color: rgba(230, 126, 34, 1.0);
}

h1, h2, h3, h4, h5, h6
{
    color:rgba(230, 126, 34, 1.0);
}

.h2a
{
    padding: 0px;
}

hr
{
    border-color:rgba(230, 126, 34, 1.0)
}

.warning
{
    color:rgba(230, 126, 34, 1.0);
}

.slidecontainer
{
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(230, 126, 34, 1.0);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#info
{
    text-align: right;
    font-size: 30px;
}

.clock
{
    color: rgba(230, 126, 34, 1.0);
    text-align: right;
}

#equation
{
    font-size: 30px;
}

#current_t_div
{
    text-align: left;
}
